.alert .message {
  padding: 8px 8px;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  margin-bottom: 5px;
  position: relative;
}
.alert .message .close {
  color: #fff;
  position: absolute;
  top: 8px;
  right: 10px;
}
.alert .message .spinner {
  text-shadow: none;
  font-size: 16px;
  margin-right: 5px;
  margin-left: 5px;
}
.alert .message.warn {
  background-color: #e67b1a;
}
.alert .message.error {
  background-color: #c42635;
}
.alert .message.info {
  background-color: #4282b2;
}
.alert .message.success {
  background-color: #348a00;
}
