.calendar {
  border-radius: 4px;
  margin: 5px;
  display: block;
}
.calendar caption {
  padding: 10px;
  background-color: #e4e4e2;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fefefd;
  position: relative;
}
.calendar caption a {
  position: absolute;
  text-decoration: none;
}
.calendar caption a.left,
.calendar caption a.right {
  float: none;
}
.calendar caption a.left {
  left: 20px;
}
.calendar caption a.right {
  right: 20px;
}
.calendar tr th {
  font-size: 14px;
  border-top: 1px solid #fefefd;
  border-bottom: 1px solid #ccc;
}
.calendar tr td,
.calendar tr th {
  text-align: center;
  padding: 8px;
}
.calendar tr td {
  cursor: pointer;
}
.calendar tr td:hover,
.calendar.zebra tr:nth-child(even) td:hover {
  background-color: #24a;
  color: #fefefd;
  border-radius: 3px;
}
.calendar tr td.today {
  font-weight: bold;
}
.calendar .disabled {
  background-color: #e4e4e2;
  color: #999;
}
.calendar .disabled:hover {
  background-color: #e4e4e2;
  color: #999;
  border-radius: 0;
  cursor: default;
}
.calendar.alt caption {
  background-color: #1f1f1f;
  border-bottom: 1px solid #252525;
  border-top: 1px solid #303030;
}
.calendar.alt tr th {
  border-top: 1px solid #303030;
  border-bottom: 1px solid #252525;
}
.calendar.alt tr td:hover,
.calendar.alt.zebra tr:nth-child(even) td:hover {
  background-color: #24a;
  color: #fefefd;
}
.calendar.alt .disabled {
  background-color: #1f1f1f;
  color: #8a8a8a;
}
.calendar.alt .disabled:hover {
  background-color: #1f1f1f;
  color: #8a8a8a;
}
