body.mysli-ui,
body.mysli-ui * {
  padding: 0;
  margin: 0;
}
body.mysli-ui,
body.mysli-ui *,
body.mysli-ui *:before,
body.mysli-ui *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body.mysli-ui {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
body.mysli-ui h1,
body.mysli-ui h2,
body.mysli-ui h3,
body.mysli-ui h4,
body.mysli-ui h5,
body.mysli-ui h6 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
body.mysli-ui code,
body.mysli-ui .code {
  font-family: "PT Mono", monospace;
}
body.mysli-ui code {
  line-height: 1.2em;
}
body.mysli-ui pre code {
  display: block;
  overflow: hidden;
}
