fieldset {
  border: none;
  margin-bottom: 10px;
}
fieldset .field {
  margin-bottom: 10px;
}
.field {
  margin-bottom: 20px;
  position: relative;
  background-color: transparent;
}
.field label {
  display: block;
  font-size: 14px;
}
.field span {
  font-size: 14px;
}
.field.divided.top {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
.field input[type=text],
.field input[type=password],
.field textarea,
.field select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  border: 2px solid #ccc;
  border-top: 3px solid #ccc;
  padding: 7px;
  border-radius: 3px;
  background-color: #fefefd;
  color: #101010;
  transition: border 0.5s;
  width: 100%;
}
.field input[type=text]:focus,
.field input[type=password]:focus,
.field textarea:focus,
.field select:focus {
  border-color: #0089b4;
  outline: none;
}
.field input[type=text]:disabled,
.field input[type=password]:disabled,
.field textarea:disabled,
.field select:disabled {
  background-color: #ccc;
  color: #999;
}
.field.search input[type=text] {
  font-size: 14px;
  border-radius: 20px;
  position: relative;
  padding-right: 35px;
}
.field.search button.action,
.field.search .button.action {
  border-radius: 12px;
  box-shadow: none;
  width: 24px;
  height: 24px;
  top: 6px;
  right: 6px;
  position: absolute;
  z-index: 1;
  background-color: #e4e4e2;
}
.field.search button.action.go:after,
.field.search .button.action.go:after {
  content: "\f002";
  top: 4px;
  left: 5px;
}
.field.search button.action.clear:after,
.field.search .button.action.clear:after {
  content: "\f00d";
  top: 5px;
  left: 6px;
}
.field.search button.action:after,
.field.search .button.action:after {
  position: absolute;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #999;
}
.field select {
  min-width: 200px;
}
.field textarea {
  resize: vertical;
  min-height: 40px;
}
.field textarea.resizable {
  resize: both;
}
.field textarea.fixed,
.field textarea:disabled {
  resize: none;
}
.field input[type=radio] {
  display: none;
}
.field input[type=radio] + label {
  cursor: pointer;
  position: relative;
}
.field input[type=radio] + label:before {
  content: "";
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #fefefd;
  border: 2px solid #ccc;
  display: inline-block;
  margin-right: 5px;
  top: 4px;
  transition: border 0.5s;
}
.field input[type=radio]:checked + label:before {
  border-color: #0089b4;
}
.field input[type=radio]:checked + label:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #0089b4;
  display: block;
}
.field input[type=radio]:disabled + label {
  color: #999;
}
.field input[type=radio]:disabled + label:before {
  background-color: #ccc;
}
.field input[type=checkbox] {
  display: none;
}
.field input[type=checkbox] + label {
  cursor: pointer;
  position: relative;
}
.field input[type=checkbox] + label:before {
  content: "";
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #fefefd;
  border: 2px solid #ccc;
  display: inline-block;
  margin-right: 5px;
  top: 4px;
  transition: border 0.5s;
}
.field input[type=checkbox]:checked + label:before {
  border-color: #0089b4;
}
.field input[type=checkbox]:checked + label:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00c";
  position: absolute;
  z-index: 1;
  top: 7px;
  left: 3px;
  color: #0089b4;
  background: none;
  border-radius: none;
}
.field input[type=checkbox]:disabled + label {
  color: #999;
}
.field input[type=checkbox]:disabled + label:before {
  background-color: #ccc;
}
form.alt .field.divided.top,
.field.alt.divided.top,
form.alt .field .divided.top,
.field.alt .divided.top,
form.alt .field.divided.bottom,
.field.alt.divided.bottom,
form.alt .field .divided.bottom,
.field.alt .divided.bottom {
  border-color: #252525;
}
form.alt .field.search button.action,
.field.alt.search button.action,
form.alt .field.search .button.action,
.field.alt.search .button.action {
  background-color: #1f1f1f;
}
form.alt .field.search button.action:after,
.field.alt.search button.action:after,
form.alt .field.search .button.action:after,
.field.alt.search .button.action:after {
  color: #8a8a8a;
}
form.alt .field input[type=text],
.field.alt input[type=text],
form.alt .field input[type=password],
.field.alt input[type=password],
form.alt .field textarea,
.field.alt textarea,
form.alt .field select,
.field.alt select {
  color: #fff;
  background-color: #1f1f1f;
  border: 2px solid #252525;
  border-top: 3px solid #252525;
}
form.alt .field input[type=text]:disabled,
.field.alt input[type=text]:disabled,
form.alt .field input[type=password]:disabled,
.field.alt input[type=password]:disabled,
form.alt .field textarea:disabled,
.field.alt textarea:disabled,
form.alt .field select:disabled,
.field.alt select:disabled {
  background-color: #252525;
  color: #8a8a8a;
}
form.alt .field input[type=text]:focus,
.field.alt input[type=text]:focus,
form.alt .field input[type=password]:focus,
.field.alt input[type=password]:focus,
form.alt .field textarea:focus,
.field.alt textarea:focus,
form.alt .field select:focus,
.field.alt select:focus {
  border-color: #0086a4;
}
form.alt .field input[type=radio] + label:before,
.field.alt input[type=radio] + label:before,
form.alt .field input[type=checkbox] + label:before,
.field.alt input[type=checkbox] + label:before {
  border: 2px solid #252525;
  background-color: #1f1f1f;
}
form.alt .field input[type=radio]:checked + label:before,
.field.alt input[type=radio]:checked + label:before,
form.alt .field input[type=checkbox]:checked + label:before,
.field.alt input[type=checkbox]:checked + label:before {
  border-color: #0086a4;
}
form.alt .field input[type=radio]:disabled + label,
.field.alt input[type=radio]:disabled + label,
form.alt .field input[type=checkbox]:disabled + label,
.field.alt input[type=checkbox]:disabled + label {
  color: #999;
}
form.alt .field input[type=radio]:disabled + label:before,
.field.alt input[type=radio]:disabled + label:before,
form.alt .field input[type=checkbox]:disabled + label:before,
.field.alt input[type=checkbox]:disabled + label:before {
  background-color: #252525;
}
