.ui-panel {
  height: 100%;
  position: absolute;
  box-shadow: 2px 0 6px rgba(0,0,0,0.1);
  -webkit-transition: box-shadow 0.4s ease-out;
  -moz-transition: box-shadow 0.4s ease-out;
  -ms-transition: box-shadow 0.4s ease-out;
  transition: box-shadow 0.4s ease-out;
}
.ui-panel.focused {
  box-shadow: 4px 0 8px rgba(0,0,0,0.3);
}
