.spaced > table.data {
  border-radius: 3px;
}
table.data {
  width: 100%;
  border-spacing: 0;
  color: #101010;
  overflow: hidden;
}
table.data th {
  background-color: #e4e4e2;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  font-size: 14px;
}
table.data td {
  padding: 10px;
  background-color: #fafaf8;
}
table.data tr.selected td,
table.data td.selected {
  background-color: #ff8;
  text-shadow: 0, 0, 1px #fff;
  color: #282828;
  border-bottom: 1px solid #cccc6d;
}
table.data td.selected {
  border-radius: 3px;
  border-bottom: none;
  box-shadow: inset 0 -1px rgba(0,0,0,0.2);
}
table.data.zebra tr:nth-child(even) td {
  background-color: #fefefe;
}
table.data.zebra tr.selected:nth-child(even) td {
  background-color: #ff8;
}
table.data.sh {
  border-bottom: 2px solid #ccc;
}
table.data.sh th {
  border-bottom: 2px solid #ccc;
}
table.data.sh td {
  border-bottom: 1px solid #ccc;
}
table.data.sh tr:last-child td {
  border-bottom: none;
}
table.data.sv tr.selected td {
  border-right: 1px solid #cccc6d;
}
table.data.sv th,
table.data.sv td {
  border-right: 1px solid #ccc;
}
table.data.sv th:last-child,
table.data.sv td:last-child {
  border-right: none;
}
table.data.alt {
  color: #fff;
}
table.data.alt th {
  background-color: #1f1f1f;
}
table.data.alt td {
  background-color: #111;
}
table.data.alt.zebra tr:nth-child(even) td {
  background-color: #242424;
}
table.data.alt.zebra tr.selected:nth-child(even) td {
  background-color: #ff8;
}
table.data.alt tr.selected td {
  border-bottom: 1px solid #cccc6d;
}
table.data.alt tr.selected td,
table.data.alt td.selected {
  background-color: #ff8;
  color: #282828;
}
table.data.alt.sh {
  border-bottom: 2px solid #252525;
}
table.data.alt.sh th {
  border-bottom: 2px solid #252525;
}
table.data.alt.sh td {
  border-bottom: 1px solid #252525;
}
table.data.alt.sv tr.selected td {
  border-right: 1px solid #cccc6d;
}
table.data.alt.sv th,
table.data.alt.sv td {
  border-right: 1px solid #252525;
}
