<script>
// widgets
import { Input, Button, Title, Message, Container } from 'widgets'
// resources
import logo from 'assets/mysli-logo.svg'
// services
import { login, user } from 'services/user'

let username = 'root@localhost'
let password = 'root'
let error = ''
let isBusy = false

function removeMessage() {
  error = ''
}

async function submitLogin() {

  error = ''

  isBusy = true
  const { response, data } = await login(username, password)
  isBusy = false

  if (response.status !== 200) {
    error = data.message || 'General error'
  }
}
</script>

<div class="wrapper">
  <div class="sidebar">
    <div class="contents"></div>
    <div class="logo">
      <a href="/">
        {@html logo}
      </a>
    </div>
  </div>
  <div class="container">
    <Container {isBusy}>
      <Title text="Sign In to Your Dashboard" />
      {#if error}
        <Message on:click={removeMessage} type="error" text={error} />
      {/if}
      <form on:submit|preventDefault={submitLogin} class="inputs">
        <Input bind:value={username} autocomplete="username" label="Email Address" />
        <Input bind:value={password} autocomplete="current-password" label="Password" type="password" />
        <Button disabled={!(username && password)} type="submit" text="Sign In" />
      </form>
    </Container>
  </div>
</div>

<style>
.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}
.container {
  padding: 10% 250px 0 5%;
  flex-grow: 1;
}
.sidebar {
  width: 250px;
  background-color: blanchedalmond;
  height: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}
.sidebar .logo {
  text-align: center;
  padding: 20px;
}
.sidebar .contents {
  flex-grow: 1;
}
.container :global(.Container) {
  margin: 0 auto;
  max-width: 300px;
}
.container :global(.Message) {
  margin-bottom: 20px;
}
.inputs :global(.Input) {
  margin-bottom: 10px;
}
</style>