<script>
  import { Panel, Titlebar, Container, TreeBrowser, Input, Editor } from 'widgets'
  export let item

  let data = `# Hello world

Start editing your page...
`

  function dataToEditorjs(input) {
    return input
  }

  setTimeout(() => {
    console.log('Updating...')
    data = '# Another pharagraph...'
  }, 4000)
</script>

<Panel expanded>
  <Titlebar text="Editing" />
  <Container>
    <Editor {data} />
  </Container>
</Panel>