<script>
import { onMount } from 'svelte'
import { Panel, Titlebar, Container, TreeBrowser, Button, Icon } from 'widgets'

import api from 'services/api'
import { openPath } from 'services/dashboard'

let pages = []

let pagesToItems = pages => pages.map(page => ({
  id: page.uri,
  keywords: page.meta.title,
  title: page.meta.title,
  subtitle: page.uri,
  items: pagesToItems(page.collections.tree)
}))

onMount(async () => {
  let r = await api('pages/contents')
  pages = pagesToItems(r.data)
})

function createContents() {
  openPath('api.pages.editor', {})
}

function handleClick(e) {
  let item = e.detail
  openPath('api.pages.editor', {item})
}
</script>

<div class="pages-Pages">
  <Panel>
    <Titlebar text="Pages" />
    <Container>
      <TreeBrowser items={pages} on:click={handleClick}>
        <slot>
          <Button on:click={createContents} fluid><Icon name="plus" /> Create</Button>
        </slot>
      </TreeBrowser>
    </Container>
  </Panel>
</div>

<style>
.pages-Pages {
  display: flex;
}
.pages-Pages > :global(.Panel) {
  min-width: 280px;
}
</style>