::extend _layout set content
::use mysli.blog

{;year = 0}

<div class="posts">
::for post in posts
    ::if not post['published']
        ::continue
    ::/if
    ::if year !== post['year']
        <h2>{year = post['year']}</h2>
    ::/if
    <div class="post-item">
        <time class="entry-meta" datetime="{post['date']}">{post['date']|date:'Y-m-d'}</time>
        <a href="{post['quid']|blog.url:'post'}" class="post-link">{post['title']}</a>
        <div class="tag-list">
        ::for tag in post['tags']
            <a href="{tag|blog.url:'tag'}">#{tag}</a>
        ::/for
        </div>
    </div>
::/for
</div>
