::extend _layout set content
::use mysli.blog

<article class="post">

    <header>
        <h2>{article['title']}</h2>
    </header>

    ::if not page['is_only']
    <section class="sitemap map">
        {|blog.map:article['pages'],article['table_of_contents']}
    </section>
    ::elif page['table_of_contents']|count
    <section class="sitemap toc">
        {|blog.toc:page['table_of_contents']}
    </section>
    ::/if

    <section class="body">
        {page['body']}
    </section>

    <footer>
        <section class="tags">
        ::for tag in article['tags']
            <a href="{tag|blog.url:'tag'}">#{tag}</a>
        ::/for
        </section>

        ::if page['references']|isset
        <section class="references">
            <ol>
            ::for note in page['references']
                <li id="{note['id']}">
                    {note['body']}
                    ::for noteref in note['back']
                        <a href="#{noteref}">↩</a>
                    ::/for
                </li>
            ::/for
            </ol>
        </section>
        ::/if
    </footer>

</article>
