.ui-box {
  background-color: transparent;
  display: table;
  width: 100%;
}
.ui-box .ui-cell {
  display: table-cell;
  width: 1%;
}
.ui-box .ui-cell.expanded {
  width: auto;
}
.ui-box .ui-row {
  display: table-row;
  height: 1%;
}
.ui-box .ui-row.expanded {
  height: auto;
}
