.ui-cell.scroll-x {
  overflow-x: auto;
}
.ui-cell.scroll-y {
  overflow-y: auto;
  height: 100%;
}
.ui-cell.content-fill *:first-child {
  width: 100%;
}
.ui-cell.align-right {
  text-align: right;
}
.ui-cell.align-left {
  text-align: left;
}
.ui-cell.padding-top {
  padding-top: 15px;
}
.ui-cell.padding-bottom {
  padding-bottom: 15px;
}
.ui-cell.padding-left {
  padding-left: 15px;
}
.ui-cell.padding-right {
  padding-right: 15px;
}
.ui-cell.border-top {
  border-top: 1px solid rgba(0,0,0,0.3);
}
.ui-cell.border-bottom {
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.ui-cell.border-left {
  border-left: 1px solid rgba(0,0,0,0.3);
}
.ui-cell.border-right {
  border-right: 1px solid rgba(0,0,0,0.3);
}
