.ui-navigation.style-alt {
  color: #333;
  text-decoration: none;
}
.ui-navigation.style-alt a {
  color: #fff;
}
.ui-navigation.style-alt .ui-button,
.ui-navigation.style-alt .ui-button:hover,
.ui-navigation.style-alt .ui-button:focus {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.3);
}
.ui-navigation .ui-button,
.ui-navigation .ui-button:hover,
.ui-navigation .ui-button:focus {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: 0;
  border: 0;
  width: 100%;
  text-transform: none;
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: inset 0 -1px 0 rgba(255,255,255,0.3);
}
.ui-navigation .ui-button:active,
.ui-navigation .ui-button:hover:active,
.ui-navigation .ui-button:focus:active {
  padding: 17px 15px 13px;
}
.ui-navigation .ui-navigation-options.collapsed {
  display: none;
}
.ui-navigation .ui-navigation-options.expanded {
  display: block;
}
