.ui-popover {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: inset 0 -1px 0 2px rgba(0,0,0,0.2);
  opacity: 0;
  position: absolute;
  z-index: 11000;
  top: 0;
  left: 0;
  max-width: 600px;
}
.ui-popover.pointer:after {
  content: "";
  border: 8px solid #ccc;
  display: block;
  height: 8px;
  position: absolute;
  width: 16px;
}
.ui-popover.pointer.top:after {
  left: 50%;
  margin-left: -8px;
  bottom: -8px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom: none;
}
.ui-popover.pointer.bottom:after {
  left: 50%;
  margin-left: -8px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top: none;
  top: -8px;
}
.ui-popover.pointer.left:after {
  border-right: none;
  top: 50%;
  margin-top: -8px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  right: -16px;
}
.ui-popover.pointer.right:after {
  border-left: none;
  top: 50%;
  margin-top: -8px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -16px;
}
