<div class="ButtonGroup">
  <slot/>
</div>

<style>
.ButtonGroup > :global(button) {
  border-radius: 0;
  border-right: 1px solid rgba(53, 36, 114, .2);
}
.ButtonGroup > :global(button:first-child) {
  border-radius: 4px 0 0 4px;
}
.ButtonGroup > :global(button:last-child) {
  border-radius: 0 4px 4px 0;
  border-right: none;
}
.ButtonGroup > :global(button:only-child) {
  border-radius: 4px;
  border-right: none;
}
</style>