<script>
  export let text = ''
  export let type = 'button'
  export let fluid = false
  export let disabled = undefined
  export let toggle = false
  export let pressed = false
</script>

<button
  on:click={() => toggle && (pressed = !pressed)}
  on:click
  {disabled}
  {type}
  class:pressed
  class:toggle
  class:fluid
  class="Button">
  {text}<slot />
</button>

<style>
button {
  border: none;
  background:rgba(200, 200, 255, .3);
  padding: 8px 18px;
  color: var(--color);
  font-size: .8rem;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}
button.fluid {
  width: 100%;
}
button:focus,
button:hover {
  background-color: var(--active-back);
  outline: none;
}
button:active {
  box-shadow: inset 1px 1px 0 1px rgba(53, 36, 114, .2);
}
button.pressed {
  box-shadow: inset 1px 1px 0 1px rgba(53, 36, 114, .2);
}
button:disabled {
  background-color: #ccc;
  box-shadow: none;
  color: #777;
  cursor: default;
}
</style>