<script>
import Dimmer from './Dimmer'
export let isBusy = false
export let spaced = false
export let inverted = false
</script>

<div class="Container" class:busy={isBusy} class:spaced class:inverted>
  {#if isBusy}
    <Dimmer {inverted} {isBusy} />
  {/if}
  <slot></slot>
</div>

<style>
.Container {
  position: relative;
}
.Container.spaced {
  padding: 10px;
}
</style>