<script>
export let isBusy = false
export let inverted = false
</script>

<div class="Dimmer" class:busy={isBusy} class:inverted>
  {#if isBusy}
    <div class="spinner">
      <div class="animator"></div>
    </div>
  {/if}
</div>

<style>
.Dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .75);
}
.Dimmer.inverted {
  background-color: rgba(0, 0, 0, .9);
}
.Dimmer.inverted .spinner .animator {
  border-top-color: #eee;
  border-right-color: #eee;
}
.Dimmer.busy {
  cursor: wait;
}
.Dimmer .spinner {
  margin: 0 auto;
  width: 70px;
  height: 30px;
  overflow: hidden;
  position: relative;
  top: 50%;
}
.Dimmer .spinner .animator {
  width: 70px;
  height: 70px;
  border-style: solid;
  border-top-color: #333;
  border-right-color: #333;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 3s ease-in-out infinite;
  transform: rotate(-200deg)
}
@keyframes rotate {
  0% { border-width: 10px; }
  25% { border-width: 3px; }
  50% {
    transform: rotate(115deg);
    border-width: 10px;
  }
  75% { border-width: 3px;}
  100% { border-width: 10px;}
}
</style>