<script>
import { onMount } from 'svelte'
import EditorJS from '@editorjs/editorjs'
import Header from '@editorjs/header'

export let data = ''
let editor

$: processedData = processData(data)

function reloadEditor() {
  editor = new EditorJS({
    holder: 'editorjs',
    tools: {
      header: Header
    },
    data: processedData
  })
}

function processData(input) {
  if (input === 'object') { return input }
  return {
    time: 1585753097695,
    blocks: [ { type: 'paragraph', data: { text: input } } ],
    version: '2.17.0'
  }
}

onMount(reloadEditor)
</script>

<div id="editorjs"></div>

<style>
#editorjs {
  background: #fff;
  flex-grow: 1;
}
</style>