<script>
export let name = ''
export let outline = false
export let color = 'inherit'
</script>

<span class="Icon">
  <i
    on:click
    class="fa{outline?'r':'s'}
    fa-{name.replace(/ /g, '-')}"
    style="color:{color}"></i>
</span>