<script>
  import Icon from './Icon'
  import { createEventDispatcher } from 'svelte'

  const dispatch = createEventDispatcher()

  export let type = 'text'
  export let label = ''
  export let autocomplete = undefined
  export let value = ''
  export let basic = false
  export let size = 'normal' // small,normal,big

  function onChange(e) {
    dispatch('input', e)
  }
</script>

<label class="Input size-{size}" class:basic>
  {#if label}
    <span>{label}</span>
  {/if}
  {#if type === 'text'}
    <input bind:value on:input={onChange} {autocomplete} type="text" />
  {:else if type === 'password'}
    <input bind:value on:input={onChange} {autocomplete} type="password" />
  {:else if type === 'search'}
    <div class="icon-wrapper"><Icon name="search" /></div>
    <input bind:value on:input={onChange} {autocomplete} type="search" />
  {/if}
</label>

<style>
label {
  display: flex;
  flex-direction: column;
  /* width: calc(100% - 30px); */
  /* font-size: .8rem; */
  position: relative;
}
label.size-small {
  font-size: 10px;
}
label.size-normal {
  font-size: 14px;
}
label.size-big {
  font-size: 20px;
}
label span {
  font-weight: bold;
  display: block;
  margin-bottom: 4px;
}
.icon-wrapper {
  position: absolute;
  left: 10px;
  top: 6px;
}
input {
  padding: 6px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: inherit;
}
input[type="search"] {
  border-radius: 20px;
  padding-left: 30px;
}
input:focus {
  outline: none;
  border-color: var(--active);
}
.Input.basic > input {
  background: transparent;
  border: none;
}
</style>