<script>
import { createEventDispatcher } from 'svelte'
import Icon from './Icon'

const dispatch = createEventDispatcher()
export let items = []

function handleClick(item) {
  return () => {
    if (typeof item.action === 'function') {
      item.action(item)
    }
    dispatch('click', item)
  }
}
</script>

<div class="Menu">
  {#each items as item}
    <div class="item" on:click={handleClick(item)}>
      {#if item.icon}
      <Icon name={item.icon} />
      {/if}
      <span class="title">{item.title}</span>
    </div>
  {/each}
</div>

<style>
.Menu {
  display: flex;
  flex-direction: column;
  font-size: .8rem;
}
.Menu .item {
  cursor: pointer;
  padding: 10px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  font-weight: bold;
}
.Menu .item > :global(.Icon) {
  margin-right: 6px;
}
.Menu .item:hover {
  background-color: rgba(255, 255, 255, .2);
}
</style>