<script>
  export let text = ''
  export let type = 'info'
</script>

<style>
.Message {
  width: 100%;
  background-color: gainsboro;
  border-radius: 3px;
  padding: 10px;
  font-size: .8rem;
  text-align: center;
}
.type-error {
  background-color: rgb(255, 180, 180);
}
</style>

<div on:click class="Message type-{type}">
  {text}
</div>