<script>
export let expanded = false
export let inverted = false
</script>

<div class="Panel {$$props.class}" class:expanded class:inverted>
  <slot></slot>
</div>

<style>
.Panel {
  display: flex;
  flex-direction: column;
  background-color: #F8F8FB;
  border-right: 1px solid rgb(223, 223, 226);
  color: #001830;
  min-width: 140px;
  background: url(/assets/background.png);
}
.Panel.expanded {
  flex-grow: 1;
}
.Panel.inverted {
  background-color: #001830;
  border-right: 1px solid #000e1d;
  color: #DED9E2;
  background: url(/assets/background-inverted.png);
}
.Panel > :global(.Container) {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
</style>