<script>
export let text = ''
</script>

<div class="Titlebar">
  <span class="text">
    {text}
  </span>
  <slot />
</div>

<style>
.Titlebar {
  display: flex;
  height: 42px;
  border-bottom: 2px solid rgba(0, 0, 0, .1);
  padding: 0 10px;
}
.Titlebar > .text {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(0, 0, 0, .1);
  position: relative;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1px;
}
</style>