<script>
import Icon from './Icon'
import Input from './Input'
import Button from './Button'
import ButtonGroup from './ButtonGroup'
import { createEventDispatcher } from 'svelte'

const dispatch = createEventDispatcher()

export let items = []

let query = ''
let search = false
let itemsElement
let itemsStack = []

$: filteredItems = search && query ? filterItems(query, items) : items

function handleItemClick(item) {
  return () => {
    dispatch('click', item)
  }
}

function filterItems(query, items, stack=[]) {
  items.map(item => {
    if (item.keywords.toLowerCase().indexOf(query) > -1) {
      stack.push(item)
    }
    filterItems(query, item.items, stack)
  })
  return stack
}

function goNext(next) {
  itemsStack = [ ...itemsStack, items ]
  items = next
}
function goBack() {
  items = itemsStack.pop()
  itemsStack = itemsStack
}
</script>

<div class="TreeBrowser">
  <ButtonGroup>
    {#if Boolean(itemsStack.length)}
    <Button on:click={goBack}><Icon name="angle left" /></Button>
    {/if}
    <Button toggle bind:pressed={search}><Icon name="search" /></Button>
    <slot />
  </ButtonGroup>
  {#if search}
  <div class="search">
    <Input bind:value={query} type="search" />
    {#if query}
    <small>Found {filteredItems.length} items.</small>
    {/if}
  </div>
  {/if}
  <div bind:this={itemsElement} class="items">
    {#each filteredItems as item (item.id)}
      <div on:click={handleItemClick(item)} class="item">
        <div class="type">
          <Icon outline name="file" />
        </div>
        <span>
          {item.title}<br/>
          <small>{item.subtitle}</small>
        </span>
        <div
          on:click={() => Boolean(item.items.length) ? goNext(item.items) : null}
          class="more {Boolean(item.items.length) ? 'expand' : 'add'}">
          <Icon name="{Boolean(item.items.length) ? 'angle right' : 'plus'}" />
        </div>
      </div>
    {/each}
  </div>
</div>

<style>
.TreeBrowser > :global(.ButtonGroup) {
  margin: 10px;
  display: flex;
}
.search {
  margin: 10px;
}
.search small {
  text-transform: uppercase;
  font-size: 10px;
  text-align: right;
  padding: 0 10px;
}
.items {
  position: relative;
  display: flex;
  flex-direction: column;
}
.item {
  font-size: 14px;
  display: flex;
  border: none;
  background: transparent;
  text-align: left;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.item:hover {
  background: rgba(255, 255, 255, .5);
}
.item span {
  display: block;
  flex-grow: 1;
  padding: 10px;
}
.item .type {
  padding: 10px 0 10px 10px;
}
.item .more.add {
  font-size: 10px;
}
.item .more {
  align-self: center;
  padding: 10px;
  min-width: 40px;
  text-align: center;
  border-left: 1px solid rgba(0, 0, 0, .1);
}
.item .more:hover {
  background: rgba(255, 255, 255, .5);
}
</style>