.ui-button {
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 8px 10px;
  display: block;
}
.ui-button:active {
  padding: 10px 10px 6px 10px;
}
.ui-button:disabled {
  text-shadow: none;
  opacity: 0.3;
}
.ui-button:disabled:active {
  padding: 8px 10px;
}
.ui-button::-moz-focus-inner {
  border: 0;
}
.ui-button span.label + i.fa,
.ui-button i.fa + span.label {
  margin-left: 6px;
}
.ui-button.style-default.style-flat,
.ui-button.style-alt.style-flat,
.ui-button.style-primary.style-flat,
.ui-button.style-confirm.style-flat,
.ui-button.style-attention.style-flat {
  text-shadow: none;
  background: transparent;
  border-color: transparent;
}
.ui-button.style-default.style-flat:focus,
.ui-button.style-alt.style-flat:focus,
.ui-button.style-primary.style-flat:focus,
.ui-button.style-confirm.style-flat:focus,
.ui-button.style-attention.style-flat:focus,
.ui-button.style-default.style-flat:hover,
.ui-button.style-alt.style-flat:hover,
.ui-button.style-primary.style-flat:hover,
.ui-button.style-confirm.style-flat:hover,
.ui-button.style-attention.style-flat:hover,
.ui-button.style-default.style-flat:active,
.ui-button.style-alt.style-flat:active,
.ui-button.style-primary.style-flat:active,
.ui-button.style-confirm.style-flat:active,
.ui-button.style-attention.style-flat:active,
.ui-button.style-default.style-flat:disabled,
.ui-button.style-alt.style-flat:disabled,
.ui-button.style-primary.style-flat:disabled,
.ui-button.style-confirm.style-flat:disabled,
.ui-button.style-attention.style-flat:disabled {
  background: transparent;
  border-color: transparent;
}
.ui-button.style-default {
  background: #fff;
  border-color: #dedede;
  text-shadow: none;
}
.ui-button.style-default.style-flat {
  color: #5a5a5a;
}
.ui-button.style-default:hover {
  background: #f4f4f4;
  border-color: #dedede;
}
.ui-button.style-default:focus {
  border-color: #00a07b;
}
.ui-button.style-default:active {
  background: #e8e8e8;
  border-color: #c0c0c0;
}
.ui-button.style-default:disabled {
  background: #dedede;
  border-color: #dedede;
}
.ui-button.style-alt {
  color: #f7f7f7;
  background: #686060;
  border-color: #726a6a;
}
.ui-button.style-alt.style-flat {
  color: #f7f7f7;
}
.ui-button.style-alt:hover {
  background: #5e5656;
  border-color: #544c4c;
}
.ui-button.style-alt:focus {
  border-color: #00a07b;
}
.ui-button.style-alt:active {
  background: #544c4c;
  border-color: #4a4242;
}
.ui-button.style-alt:disabled {
  background: #6e6e6e;
  border-color: #6e6e6e;
}
.ui-button.style-primary {
  color: #f7f7f7;
  background: #3eadfe;
  border-color: #22a0fe;
}
.ui-button.style-primary.style-flat {
  color: #22a0fe;
}
.ui-button.style-primary:hover {
  background: #22a0fe;
  border-color: #018cf7;
}
.ui-button.style-primary:focus {
  border-color: #0168b3;
}
.ui-button.style-primary:active {
  background: #018cf7;
  border-color: #017edb;
}
.ui-button.style-primary:disabled {
  background: #93a0a9;
  border-color: #93a0a9;
}
.ui-button.style-confirm {
  color: #f7f7f7;
  background: #32b810;
  border-color: #2da410;
}
.ui-button.style-confirm.style-flat {
  color: #2da410;
}
.ui-button.style-confirm:hover {
  background: #2da410;
  border-color: #289010;
}
.ui-button.style-confirm:focus {
  border-color: #1e6e0a;
}
.ui-button.style-confirm:active {
  background: #289010;
  border-color: #278010;
}
.ui-button.style-confirm:disabled {
  background: #839a7e;
  border-color: #839a7e;
}
.ui-button.style-attention {
  color: #f7f7f7;
  background: #c94f13;
  border-color: #ad4b13;
}
.ui-button.style-attention.style-flat {
  color: #ad4b13;
}
.ui-button.style-attention:hover {
  background: #ad4b13;
  border-color: #8d3b13;
}
.ui-button.style-attention:focus {
  border-color: #793113;
}
.ui-button.style-attention:active {
  background: #8d3b13;
  border-color: #7d3313;
}
.ui-button.style-attention:disabled {
  background: #b4a0a0;
  border-color: #b4a0a0;
}
