.ui-panel {
  width: 200px;
  height: 100%;
  position: absolute;
}
.ui-panel > .ui-panel-sides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-panel .ui-panel-sides {
  box-shadow: 2px 0 6px rgba(0,0,0,0.1);
  -webkit-transition: box-shadow 0.4s ease-out;
  -moz-transition: box-shadow 0.4s ease-out;
  -ms-transition: box-shadow 0.4s ease-out;
  transition: box-shadow 0.4s ease-out;
}
.ui-panel.focused .ui-panel-sides {
  box-shadow: 4px 0 8px rgba(0,0,0,0.3);
}
.ui-panel.multi {
  petspective: 900px;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
}
.ui-panel.multi.flipped > .ui-panel-sides {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.ui-panel.multi > .ui-panel-sides {
  transition: box-shadow 0.4s ease-out, transform 0.3s linear;
  -webkit-transition: box-shadow 0.4s ease-out, -webkit-transform 0.3s linear;
  -moz-transition: box-shadow 0.4s ease-out, -moz-transform 0.3s linear;
  -ms-transition: box-shadow 0.4s ease-out, -ms-transform 0.3s linear;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}
.ui-panel.multi > .ui-panel-sides > .ui-panel-side {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.ui-panel.multi > .ui-panel-sides > .ui-panel-side:first-child {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
}
.ui-panel.multi > .ui-panel-sides > .ui-panel-side:last-child {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}
