@import 'theme.css';

* {
  box-sizing: border-box;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color);
  background: #fff;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-left: 1px solid rgba(0,0,0,0.1) !important;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.1) !important;
}