:root {
  /* Fonts */
  --font-family: Roboto, sans-serif;
  --font-size: 16px;

  /* Colors */
  --color: #352472;
  --active: #816fc1;
  --active-back: #E1DDEF;

  /* Apply Themes */
  font-size: var(--font-size);
}