<script>
// system
import { onMount } from 'svelte'
// services
import { panels, openPath, openPathFromHash } from 'services/dashboard'
// widgets
import { Panels, Titlebar, Container, Icon, Menu } from 'widgets'
// assets
import logo from 'assets/mysli-logo.svg'

onMount(() => {
  openPath('api.navigator')
  openPathFromHash()
})
</script>

<div class="Dashboard">
  <Panels>
    {#if $panels.navigator}
    <svelte:component this={$panels.navigator.component} {...$panels.navigator.args} />
    {/if}
    {#if $panels.explorer}
    <svelte:component this={$panels.explorer.component} {...$panels.explorer.args} />
    {/if}
    {#if $panels.contents}
    <svelte:component this={$panels.contents.component} {...$panels.contents.args} />
    {/if}
    {#if $panels.sidebar}
    <svelte:component this={$panels.sidebar.component} {...$panels.sidebar.args} />
    {/if}
  </Panels>
  <div class="logo">
    {@html logo}
  </div>
</div>

<style>
.Dashboard {
  position: relative;
  width: 100%;
  height: 100%;
}
.logo {
  position: absolute;
  bottom: 20px;
  left: 50%;
  /* transform: translateX(-50%); */
  /* width: 200px; */
  /* height: 200px; */
  opacity: .5;
  z-index: -1;
}
</style>