<script>
// system
import { onMount } from 'svelte'
// widgets
import { Panel, Titlebar, Container, Menu } from 'widgets'
// services
import api from 'services/api'
import { logout } from 'services/system'
import { openPath } from 'services/dashboard'

let isBusy = false
let menus = []

onMount(async () => {
  let r = await api('menu')
  menus = r.data
})

function handleItemClick(e) {
  if (typeof e.detail.action === 'string') {
    openPath(e.detail.action)
  }
}
</script>

<Panel class="navigator" inverted>
  <Titlebar text="Navigator" />
  <Container inverted {isBusy}>
    <Menu items={menus} on:click={handleItemClick} />
    <Menu items={[
      {title: 'Logout', icon: 'sign out alt', action: () => (isBusy = true) && logout()}
    ]} />
  </Container>
</Panel>

<style>
:global(.navigator > .Container) {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
:global(.navigator > .Container > .Menu:first-child) {
  flex-grow: 1;
}
</style>