<script>
// external
import { onMount } from 'svelte'
// pages
import Login from 'pages/Login'
import Dashboard from 'pages/Dashboard'
// widgets
import { Dimmer } from 'widgets'
// services
import { user, auth } from 'services/user'
import components from 'services/components'

let isReady = false

onMount(async () => {
  await auth()
  isReady = true
})
</script>

{#if !isReady}
  <Dimmer inverted isBusy />
{:else}
  {#if $user.id}
    <Dashboard />
  {:else}
    <Login />
  {/if}
{/if}