@import "variables"

.ui-box
    background-color: transparent
    display: table
    width: 100%
    // overflow: hidden
    .ui-cell
        display: table-cell
        width: 1%
        &.expanded
            width: auto
    .ui-row
        display: table-row
        height: 1%
        &.expanded
            height: auto
