@import "variables"

.ui-cell
    // SCROLL
    &.scroll-x
        overflow-x: auto
    &.scroll-y
        overflow-y: auto
        height: 100%
    // FILL
    &.content-fill *:first-child
        width: 100%
    // ALING
    &.align-right
        text-align: right
    &.align-left
        text-align: left
    // PADDING
    &.padding-top
        padding-top: 15px
    &.padding-bottom
        padding-bottom: 15px
    &.padding-left
        padding-left: 15px
    &.padding-right
        padding-right: 15px
    // BORDER
    &.border-top
        border-top: 1px solid rgba(0, 0, 0, .3)
    &.border-bottom
        border-bottom: 1px solid rgba(0, 0, 0, .3)
    &.border-left
        border-left: 1px solid rgba(0, 0, 0, .3)
    &.border-right
        border-right: 1px solid rgba(0, 0, 0, .3)
