@import "variables"

.ui-checkbox > .ui-gi-input
    position: relative
    top: 6px
    margin-right: 6px
    display: inline-block
    width: 22px
    height: 22px
    border-radius: 3px
    box-shadow: inset 0 -1px 0 2px rgba(0, 0, 0, .2)
    background-color: #fff
    -webkit-transition: background-color .2s ease-out
    -moz-transition: background-color .2s ease-out
    -ms-transition: background-color .2s ease-out
    transition: background-color .2s ease-out
    overflow: hidden
    &:active
        box-shadow: inset 0 1px 0 2px rgba(0, 0, 0, .2)
    & i.fa
        color: #fff
        opacity: 0
        position: absolute
        top: -5px
        left: 3px
        -webkit-transition: top .3s, opacity .2s ease-out
        -moz-transition: top .3s, opacity .2s ease-out
        -ms-transition: top .3s, opacity .2s ease-out
        transition: top .3s, opacity .2s ease-out
    &.checked
        background-color: #00a07b
        & i.fa
            top: 3px
            opacity: 1
    &.disabled, &.checked.disabled
        box-shadow: none
        background-color: #aaa
.ui-checkbox.style-alt > .ui-gi-input
    background-color: #686060
    &.checked
        background-color: #00a07b
    &.disabled, &.checked.disabled
        background-color: #aaa
