@import "variables"

.mysli-ui
    &, *
        padding: 0
        margin: 0
    &, *, *:before, *:after
        -moz-box-sizing: border-box
        box-sizing: border-box
    &
        font-family : font-family
        font-size   : font-size-normal
        line-height : 1.4em
    h1, h2, h3, h4, h5, h6
        font-family: font-family-headers
        font-weight: normal
    code, .code
        font-family: font-family-mono
    code
        line-height: 1.2em
    pre code
        display: block
        overflow: hidden
