@import "variables"

.ui-divider
    border-top: 1px solid rgba(0, 0, 0, .2)
    border-bottom: 1px solid rgba(255, 255, 255, .9)
    border-left: none
    border-right: none
    &.style-alt
        border-top-color: rgba(0, 0, 0, .8)
        border-bottom-color: rgba(255, 255, 255, .2)
