@import "variables"

.ui-entry > .ui-gi-input
    font-size: 16px
    border: 0
    border-radius: 3px
    padding: 9px 10px 7px
    width: 100%
    box-shadow: inset 0 1px 0 2px rgba(0, 0, 0, .2)
    -webkit-transition: -webkit-box-shadow .2s ease-out
    -moz-transition: -moz-box-shadow .2s ease-out
    -ms-transition: -ms-box-shadow .2s ease-out
    transition: box-shadow .2s ease-out
    background-color: #fff
    display: inline-block
    &:disabled
        box-shadow: none
    &:focus
        outline: 0
        box-shadow: inset 0 1px 0 2px #00a07b
.ui-entry.style-alt > .ui-gi-input
    color: #f7f7f7
    background: #686060
    &:focus
        box-shadow: inset 0 1px 0 2px rgba(0, 0, 0, .6)
.ui-entry.style-flat > .ui-gi-input
    box-shadow: none
    background-color: transparent
    &:focus
        box-shadow: none
