@import "variables"

.ui-radio-group
    &.ui-orientation-horizontal > .ui-row > .ui-cell
        padding-bottom: 5px
.ui-radio > .ui-gi-input
    position: relative
    top: 6px
    margin-right: 6px
    display: inline-block
    width: 22px
    height: 22px
    border-radius: 11px
    box-shadow: inset 0 -1px 0 2px rgba(0, 0, 0, .2)
    background-color: #fff
    -webkit-transition: background-color .2s ease-out
    -moz-transition: background-color .2s ease-out
    -ms-transition: background-color .2s ease-out
    transition: background-color .2s ease-out
    overflow: hidden
    &:active
        box-shadow: inset 0 1px 0 2px rgba(0, 0, 0, .2)
    &:after
        -webkit-transition: opacity, top .3s ease-out
        -moz-transition: opacity, top .3s ease-out
        -ms-transition: opacity, top .3s ease-out
        transition: opacity, top .3s ease-out
        top: 0
        left: 6px
        content: ""
        width: 10px
        height: 10px
        opacity: 0
        background-color: #fff
        border-radius: 7px
        position: absolute
    &.checked
        background-color: #00a07b
        &:after
            opacity: 1
            top: 6px
    &.disabled, &.checked.disabled
        box-shadow: none
        background-color: #aaa
.ui-radio.style-alt > .ui-gi-input
    background-color: #686060
    &.checked
        background-color: #00a07b
    &.disabled, &.checked.disabled
        background-color: #aaa
