@import "variables"

.ui-tabbar
    color: #fff
    background-color: #9c3c18
    & .ui-cell
        & > .ui-button.style-flat
            font-size: 16px
            color: rgba(255, 255, 255, .75)
            text-transform: none
            padding: 11px 0 8px
            text-align: center
            width: 100%
            border-radius: 0
            border-top: none
            border-right: 1px solid rgba(0, 0, 0, .2)
            border-bottom: 3px solid rgba(0, 0, 0, .2)
            border-left: none
            float: left
            &.pressed
                color: #fff
                padding-top: 12px
                padding-bottom: 10px
                background-color: rgba(0, 0, 0, .2)
                border-top: none
                border-right: 1px solid rgba(255, 255, 255, .2)
                border-bottom: none
                border-left: none
                box-shadow: inset 0 0 4px rgba(0, 0, 0, .2)
        &:last-child
            & > .ui-button.style-flat, & > .ui-button.style-flat.pressed
                border-right: none
