@import "variables"
@import "mixins"

.ui-box.ui-titlebar
    color: #fff
    background-color: #9c3c18
    width: 100%
    height: 48px
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1)
    &.style-flat
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .4)
        border-bottom: 1px solid rgba(255, 255, 255, .1)
        color: inherit
        background-color: transparent
    .ui-cell
        vertical-align: middle
        padding: 5px
        &:first-child
            padding-left: 15px
        &:last-child
            padding-right: 15px
    .ui-button.style-flat
        color: rgba(255, 255, 255, .75)
        padding: 0
        &:active
            padding-top: 2px
    & .ui-entry.style-flat .ui-gi-input
        font-size: 16px
        color: #ffffff
    & .ui-entry.style-flat
        +placeholder()
            color: rgba(255, 255, 255, .75)
    h1, h2
        font-size: 20px
